.carouselcontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1168.3px;
  height: 589.61px;
}

.carouselimg {
  width: 1168.3px;
  height: 589.61px;
  object-fit: cover;
}

.darktext {
  color: black;
}

@media screen and (max-width: 1210px) {
  .carouselcontainer {
    width: 700px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .carouselcontainer {
    top: 50%;
    left: 48%;
    width: 80%;
    height: auto;
  }

  .carouselimg {
    width: 577px;
    height: auto;
  }
}

@media screen and (max-width: 576px) {
  .carouselcontainer {
    top: 52%;
    left: 46%;
    transform: translate(-52%, -46%);
    width: 350px;
    height: 500px;
  }
  .carouselimg {
    width: 350px;
    height: 530px;
  }
}

@media (max-width: 375px) {
  .carouselcontainer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
